#container {
  text-align: center;
  padding-bottom: 60px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

#action-container {
  bottom: 0;
  background: linear-gradient(to top, rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;

  ion-button {
    --border-radius: 100%;
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    height: 40px;
    width: 40px;

    position: relative;
    bottom: 10px;
  }
}

.toolbar-buttons {
  ion-button {
    --background-hover-opacity: 0;
    --background-hover: transparent;
    --background-focused-opacity: 0;
    --background-focused: transparent;
    --background-activated-opacity: 0;
    --background-activated: transparent;
    --ripple-color: transparent;
  }
}