<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      {{ 'home.title' | translate }}
    </ion-title>

    <ion-buttons slot="primary" class="toolbar-buttons">
      <ion-button [disabled]="disabledRefineOptions" fill="clear" (click)="refine($event)">
        <ion-icon color="success" slot="end" size="medium" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div slot="fixed" id="action-container">
    <ion-button color="success" (click)="add()">
      <ion-icon size="large" name="add-circle-outline"></ion-icon>
    </ion-button>
  </div>

  <div id="container">
    <ion-list *ngIf="(records$ | async)?.length; else noRecords">
      <ion-item-sliding *ngFor="let t of records$ | async; last as isLast">
        <ion-item-options side="end">
          <ion-item-option color="primary" (click)="edit(t.id)">
            <ion-icon size="large" name="create-outline"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" (click)="delete(t.id)">
            <ion-icon size="large" name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>

        <ion-item [routerLink]="['/detail', t.id]" [lines]="isLast ? 'none' : 'full'">
          <ion-label>
            <div>Date: {{ t.date | dateFormat }}</div>
            <div>Amount: {{ t.amount | currencyFormat }}</div>
            Account holder: {{ t.accountHolder }}
          </ion-label>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>

<ng-template #noRecords>
  <div class="higlight">
    <p>
      {{ noRecordsMessage }}
    </p>
  </div>
</ng-template>